.about{
    display: flex;

    .wrapper{
        flex: 20;
        padding: 10px;
        margin-top: 30px;
        display: flex;
        justify-content: center;

        .title{
            display: flex;
            justify-content: center;
            margin-left: 200px;

            .spanTitle{
                font-family: 'Josefin sans', sans-serif;
                font-size: 1.5rem;
                line-height: 1rem;
                font-weight: 600;
                margin-top: 10px;
            }
            
        }
    
        .spanContent{
            margin-top: 30px;
            width: 50%;
            font-family: 'Varela Round', serif;
            display: flex;
            flex-direction: column;
    
            span{
                font-size: 1rem;
                margin-top: 20px; 
                line-height: 1.5rem;
            }
        }
    }

    
}