.about{
    display: flex;
    flex: 20;

    .wrapper{
        flex: 20;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .spanTitle{
            margin-top: 30px;
            margin-right: 50px;
            font-family: 'Josefin sans', sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
        }

        .spanContent{
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
            font-family: 'Varela Round', serif;
            padding: 10px;

            span{
                margin: 10px;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }

}