.home{
    flex:20;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;

    .wrapper{
        display: flex;
        flex-direction: column;
        
        .homeQuotes{
            margin: 5px;
        }
    }
    
}