.quotesPage{
    width: 100vh;
    font-family: 'Source Sans', sans-serif;
    font-style: italic;
    margin-left: 400px;
    
    .quoteContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-top: 30px;
        line-height: 1.5rem;
        cursor: pointer;

        p{
            display: flex;
            align-self: center;

            span{
                .author{
                    font-style: normal;
                    margin-left: 5px;
                    font-weight: 600;
                }
            }
        }

   }
}