:root {
  --main-color: #ffffe0;
  --transition-speed: 600ms;
  background-color: var(--main-color);
}

.container{
  display: flex;
  margin-top: 1px;
}

.link{
  text-decoration: none;
  color: inherit;
}




